@{
    ViewBag.Title = "Home Page";
}
<form method="post" class="form-group">

    <asp:Label style="font-size: 18px; color: #ae219a" runat="server" Text="İlk isim" >İlk isim</asp:Label>
    <input type="text" class="form-control" name="firstname" required="" />
    <br />
    <asp:Label style="font-size:18px;color: #ae219a " runat="server" Text="İkinci isim">İkinci isim</asp:Label>
    <input type="text" class="form-control" name="secondname" required="" />
    <br />
    <button style="font-size:18px; background-color:#ae219a" class="btn btn-outline-dark">Ölç</button>
</form>
